<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/report.js"></script>
    <title>GMusic Manager</title>
</head>
<body>
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="/">Albums</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/songs">Songs</a></li>
        </ul>
    </div>
    <div id="content">
        <table>
            <tr>
            {% for album in all_albums %}
                <td id="{{ album[0] }}" class="album_info">
                    <a href="/info/album?id={{ album[0] }}">{{ album[2] }}</a><br/>
                    By: {{ lookup_artist(album[6]) }}</td>
                <td class="img_cell"><img class="albumart" src="{{ album[7] }}" width="{{ art_display_size }}px" height="{{ art_display_size }}px" /></td>
                {% if (album[0] % 3) == 0 %}
                </tr><tr>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>