<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/report.js"></script>
    <title>GMusic Manager</title>
</head>
<body>
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="/"><- Back to Artists</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="artistart"><img class="artistart" src="{{ artist_data[3] }}" />
        <div id="artist_info"><h2>{{ artist_data[2] }}</h2></div><br />
        </div>
    </div>
</body>
</html>