<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/report.js"></script>
    <title>GMusic Manager</title>
</head>
<body>
    <h1>Please login</h1><br/>
    <form action="" method="post">
        <!--"{{ request.form.username }}"> -->
        <input type="text" placeholder="Username" name="username">
        <!--"{{ request.form.password }}"> -->
        <input type="password" placeholder="Password" name="password"><br />
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</body>
</html>